<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="/images/logo.png"
        alt="Logo"
        height="40"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cadastrar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/cadastrarPessoa">Cadastrar Pessoa</a></li>
            <li><a class="dropdown-item" href="/admin/cadastrarDocente">Cadastrar Docente</a></li>
            <li><a class="dropdown-item" href="/admin/cadastrarAluno">Cadastrar Aluno</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/admin/cadastrarCurso">Cadastrar Curso</a></li>
            <li><a class="dropdown-item" href="/admin/cadastrarDisciplina">Cadastrar Disciplina</a></li>
            <li><a class="dropdown-item" href="/admin/cadastrarTurma">Cadastrar Turma</a></li>
            <li><a class="dropdown-item" href="/admin/cadastrarAlunoTurma">Matricular Aluno</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Cadastrar Usuário</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Cadastrar Formulário</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <a class="ms-4 btn btn-danger" href="./admin/logout">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-door-open-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"
          />
        </svg>
        Sair
      </a>
    </div>
  </div>
</nav>
