<%- include('layouts/header'); -%>
<%- include('layouts/navbar'); -%>

<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <h1 class="display-6 text-center">Gerenciador de Comissão Própria de Avaliação</h1>

            <p>CPA-Manager é uma aplicação web desenvolvida em Node.js com Express e utilizando um banco de dados PostgreSQL. Esta aplicação foi criada para auxiliar a Comissão Própria de Avaliação (CPA) de instituições de ensino superior a coletar feedbacks dos alunos em relação à instituição, permitindo o cadastro de alunos e docentes nas avaliações.
            </p>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

<%- include('layouts/footer'); -%>